

@media screen and (max-width: 576px ) {
    .banner-container

    {
       width:100%;
       height:800px;
      
    }

.banner-title,
.banner-description
{
    width: 100%;

}
    .title-container input, button{
        display: block;
        margin-top: 10px;
    }
    .section-2,
    nav

    {
           flex-direction: column;
   
    }
    main{
       padding: 20px;
    }
    .banner-container{
        max-width: 500px;
    }
   }