* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Mulish', sans-serif;
}


header,
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title-ins {
    color: #FF5400;
}

nav {
    display: flex;
    justify-content: space-between;
    /* height: 2.5rem; */
    padding: 20px;

}

.logo-title {
    /* width: 50%; */
    /* display: inline-flex; */
}

.logo {
    width: 20px;
    height: 20px;
    margin-top: 3%;
    margin-right: 5px;
}

.menu {
    /* justify-content: sp; */
    justify-items: right;
    text-align: right;

}

.menu li,
a {
    list-style: none;
    text-decoration: none;
}

.menu ul {
    display: flex;
    gap: 20px;
}


/* banner section --------------------------------------*/

.banner-container {
    background-image: url('./Images/banner.png');
    /* height: 577px; */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: center;

}

.linear-bacgroun {
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.title-container {
    text-align: center;
    width: 71%;
    margin: 0 auto;
    padding: 100px 0px;

}

.banner-title {
    padding: 20px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0 100px;
}

.banner-container .form-section {
    background-color: #FF5400;
    padding: 10px 0px;
    margin-top: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    gap: 24px;

}

.banner-container input {
    padding: 20px;
    border-radius: 8px;
    border: none;
    outline: none;
    display: inline-flex;

}

.primary-button {
    background-color: #ff5400;
    color: #fff;
    font-size: 16px;
    font-weight: 700px;
    border-radius: 5px;
    padding: 18px 50px;
    cursor: pointer;
    border: none;


}

.icon-search {
    color: #fff;
    font-size: 20px;
    position: relative;
    left: 20px;
    width: 24px;
    height: 24px;
}

/* banner section --------------------------------------*/

/* section-2-content ----------------------------------*/

.section-2 {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    gap: 24px;
}

.section-2-content {
    max-width: 50%;
    text-align: left;
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.section-2-content h1 {
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.section-2-content li {
    margin-left: 40px;
    padding: 10px;
}
.section-2-image{
    max-width: 50%;
}

.section-2-image img {
    width: 100%;
}


/* section-2-content ----------------------------------*/
/* section 3 content -----------------------------------*/

.image-flex1 {
    display: flex;
    gap: 24px;
}

.image-flex2 {
    display: flex;
    gap: 24px;
}

.image-flex3 {
    display: flex;
    gap: 24px;
}

.section-3-container h2 {
    position: relative;
    top: 150px;
    text-align: center;
    color: #fff;
}

.section-3-container img {
    max-width: 100%;
}

/* section 3 content -----------------------------------*/


/* section4 -------------------------------------------*/
.section-title {
    text-align: center;
}

.section-4 {
    margin-top: 50px;
}

.section-title>h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 20px;
}

.box-container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.box {
    height: 200px;
    padding: 20px;
    border-radius: 10px;

}

.box img {
    padding: 10px;
}

.box h2 {
    padding: 10px;
}

.box3 {
    width: 50%;
    margin: 0 auto;
}

.box1 {
    background-color: #fdf8f1;
    border: 1px solid hsl(27deg 100% 53% / 22%);
}

.box2 {
    background-color: #d5fffd;
    border: 1px solid #30ffee;
}

.box3 {
    background-color: hsl(65, 100%, 95%);
    border: 1px solid #dbdbdb;
}

/* section4 -------------------------------------------*/
/* section5 -------------------------------------------*/
.section-5 {
    margin-top: 80px;
    text-align: center;
}

.section-heding {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px
}

.view-galary {
    margin-top: 50px;
}

.view-galary img {}
.place{
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: center;

}

.place-1{
    background-image: url('Images/Group\ 39.png');
    height: 50vh;
    padding: 50px;
}
.place-2{
    background-image: url('Images/Group\ 40.png');
    height: 50vh;
    padding: 50px;
}
.place-3{
    background-image: url('Images/Group\ 39.png');
    height: 50vh;
    padding: 30px;
}
.dis-card {
    max-width: 500px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid hsl(0, 0%, 2%);
    background: hsla(0, 0%, 100%, 0.705);
    backdrop-filter: blur(2.5px);
    text-align: left;
    padding: 50px;
    bottom: 100px;
    margin: 0 auto;

}
.card-1, .card-3{
    float: right;
}
.card-2{
    float: left;
}

.dis-card ul {
    display: flex;
    gap: 50px;
}

.dis-card ul li {
    list-style: none;
}

.dis-card>h2 {
    line-height: 60px;
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}
.dis-card>p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}
.dis-card > h4{
 color: #FF5400;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 30px;
}

/* section5 -------------------------------------------*/
/* section6 -------------------------------------------*/
.section-6{
    margin-top: 80px
    ;
}
.section-6-container-1{
    display: flex;
    margin-top: 50px;
}
.section-6-text{
    width: 50%;
}
.section-6-text p, ul{
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-6-video{
    width: 50%;
}
.section-6-video video{
    width: 100%;
    border-radius: 16px;
}
.video-text{
    color: white;
    position: relative;
    bottom: 150px;
    text-align: center;
}

.section-6-container-1{
    gap: 20px;
}

.section-6-box{
    border: 1px solid orangered;
    width: 50%;
    padding: 20px;
    padding-right:50px;
    border-radius: 10px;
    height: 330px;
}

.section-6-box input{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;

}
.section-6-box button{
    width: 100%;
    border-radius: 16px;
    margin-left: 15px;
   padding: 10px;
   margin-top: 20px;
}

.section-6-image img{
    width: 100%;
    border-radius: 16px;
}
.section-6-image{
    width: 50%;
}
.Discounts{
    text-align: center;
    background-color: #FF5400;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    color: white;
    position: relative;
    bottom: 130px;
    left: 46%; 
    transform: rotate(-20deg) scale( 80%);
}
.save-up{
    font-size: 30px;
    font-weight: 800px;
}
.section-6-box-heding{
    margin-bottom: 20px;
}
.section-6-box-description{
    margin-bottom: 20px;
}


/* section6 -------------------------------------------*/




/* footer -------------------------------------------*/
footer {
    text-align: center;
    height: 500px;
    background-color: #fdf8f1;
    margin-top: 50px;
    width: 100%;
}

.footer-content {
    padding: 100px;
    max-width: 900px;
    margin: auto;
}

.footer-content h1 {
    padding: 20px;
    color: var(--Dark-01, #131318);
    font-size: 32px;
    font-weight: 800;
}

. .footer-content p {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;

    font-weight: 400;
    line-height: 26px;
}

.foot-icon i {
    padding: 40px 20px;
}

.foot-icon li